<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>version</param-name>
        <param-value>v.0.6</param-value>
    </context-param>
    <filter>
        <filter-name>MyFilter</filter-name>
        <filter-class>pl.sda.web.jsp.MyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>pl.sda.web.jsp.MyServlet</servlet-class>
        <init-param>
            <param-name>paramIni</param-name>
            <param-value>666</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ParameterServlet</servlet-name>
        <servlet-class>pl.sda.web.jsp.ParameterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>pl.sda.web.jsp.HelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DbShowServlet</servlet-name>
        <servlet-class>pl.sda.web.jsp.DbShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>pl.sda.web.jsp.AddBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBooksServlet</servlet-name>
        <servlet-class>pl.sda.web.jsp.ShowBooksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/MyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParameterServlet</servlet-name>
        <url-pattern>/ParameterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/HelloServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DbShowServlet</servlet-name>
        <url-pattern>/DbShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/AddBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBooksServlet</servlet-name>
        <url-pattern>/ShowBooksServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
